# The Extension source folder. It'll be packaged in a zip instead.
YouTube Compatibility Extension/
# Unneeded pictures
download-extension/Preview 1.png
download-extension/Preview 2.png
# Personal Dev - Not Planned to Publish
polling-check.html
runtime/storage-enc(unobscurated).js
# Legacy, Removing
twitch-admin/
ttv-redemptions.html