.PollProgress {
    width: 100%;
    background-color: grey;
    border-radius: 25px;
}

.PollProgressBar {
    width: 0%;
    height: 12px;
    border-radius: 25px;
    background-color: green;
    transition: width 0.4s linear;
    /* note this line */
}

.PollProgressBarResult {
    width: 0%;
    height: 12px;
    transition: width 0.4s linear;
    /* note this line */
}

.RedColor {
    background-color: red;
}

#PollDuration {
    text-align: center;
}

* {
    color: rgb(239, 239, 241);
    font-family: Roobert, sans-serif, Roboto, Helvetica, Arial
}

body,
input,
select,
dialog {
    background: rgb(26, 26, 26);
}

dialog {
    bottom: 75%;
}

dialog::backdrop {
    background-color: rgb(255 0 0 / 25%);
}

a {
    color: rgb(169, 112, 255);
}

th,
td {
    border-right: 1px solid rgb(239, 239, 241);
    border-bottom: 1px solid rgb(239, 239, 241);
    padding: 5px 10px;
}

table.noborder,
table.noborder th,
table.noborder td {
    border: 0px;
    padding: 0px;
}

input[disabled] {
    background: #3e0000;
}

input,
select {
    width: 100%;
}

select {
    transition: 0.3s;
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
}

input[type="submit"]:hover,
button:hover {
    background: rgb(24, 163, 70)
}

input[type="button"],
input[type="submit"],
button {
    background: #33c34e;
    cursor: pointer;
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border-width: 0px;
    transition: 0.3s;
    font-size: 18;
}

input[type="checkbox"] {
    width: auto;
}

#ConnectedPlatforms>button {
    width: 150px;
    height: 25px;
    font-size: 16px;
}

.ForceHidden {
    display: none !important;
}

.Platform1 {
    background-color: rgb(96, 53, 197)
}

.Platform1:hover {
    background-color: rgb(95, 43, 217)
}

.Platform2 {
    background-color: rgb(222, 46, 46)
}

.Platform2:hover {
    background-color: rgb(232, 58, 58)
}

#ConnectedPlatforms>button.disconnect {
    background-color: rgb(167, 72, 72)
}

#ConnectedPlatforms>button.disconnect:hover {
    background-color: rgb(187, 70, 70)
}

#ConnectedPlatforms>button:disabled {
    background-color: rgb(113, 113, 113)
}

#ConnectedPlatforms>svg {
    position: relative;
    top: 4px;
}

#ConnectedPlatforms>button>span {
    position: relative;
    bottom: 2px;
}

.CB_YT {
    color: rgb(222, 46, 46)
}

.CB_TTV {
    color: rgb(96, 53, 197);
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark.CB_YT {
    background-color: rgb(222, 46, 46);
}

.container input:checked~.checkmark.CB_TTV {
    background-color: rgb(96, 53, 197);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


input[type="submit"]:disabled {
    background: grey;
    cursor: not-allowed;
}

.SubmitPoll {
    background: #c60000;
}

.SubmitPoll:hover {
    background: #b40000;
}

.SubmitPoll:disabled,
button:disabled {
    background: grey;
    cursor: not-allowed;
}

.PollQuestion {
    font-size: 18px;
    text-decoration: underline;
    font-style: inherit;
    font-weight: bold;
}

.PollQuestionInfo {
    font-size: 18px;
    font-style: inherit;
}

.Warning {
    color: yellow;
    font-size: 14px;
}

#status {
    display: none;
    background: red;
    padding: 5px;
}

#status.show {
    display: block;
}

.disableit {
    position: relative;
}

.disableit:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.YU1 {
    transition: 0.3s;
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
    width: 100%;
    height: 25px;
}


.YU2 {
    width: calc(50% - 3px);
    height: 25px;
    border-radius: 6px;
    font-size: 16px;
}

.YU3 {
    background-color: rgb(0, 55, 255);
}

.YU3:hover {
    background-color: rgb(14, 56, 206);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.profile {
    width: 32px;
    border-radius: 9000px;
    pointer-events: none;
}

.text {
    position: relative;
    font-size: 16px;
    bottom: 8px;
}

.CTitle {
    position: relative;
    font-size: 24px;
    bottom: 16px;
}

.CImg {
    width: 56px;
    pointer-events: none;
    border-radius: 8px;
}

.CMsg {
    font-size: 16px;
    padding: 0 30px;
    color: rgb(201, 201, 201);
}

hr {
    border-width: 1px;
}

#EditorOptions > .option
{
    display: flex;
}

.CapWarning > span {
 color: #d4b115;
 font-size: 13px;
}

#AuthRequired {
    background-color: rgb(112, 0, 132);
    padding: 3px;
    border-radius: 6px;
    border: thick solid;
    position: relative;
}

#AuthRequired span {
    position: absolute;
    left: 110px;
    font-size: 24px;
}

#AuthRequired button {
    position: absolute;
    left: 110px;
    top: 65px;
    width: 92%;
    background-color: rgb(207, 42, 188);
}

#AuthRequired button:hover {
    background-color: rgb(199, 34, 179);
}

#AuthRequired.Oops {
    background-color: rgb(151, 18, 18);
}

#AuthRequired.Oops button {
    background-color: rgb(242, 43, 43);
}

#AuthRequired.Oops button:hover {
    background-color: rgb(197, 22, 22);
}

#NewBeta {
    background-color: rgb(172, 172, 23);
    padding: 3px;
    border-radius: 6px;
    border: thick solid;
    position: relative;
}

#NewBeta span {
    position: absolute;
    left: 110px;
    font-size: 24px;
}

#NewBeta button {
    position: absolute;
    left: 110px;
    top: 65px;
    width: 92%;
    background-color: rgb(203, 201, 71);
}

#NewBeta button:hover {
    background-color: rgb(197, 196, 87);
}


.Buttons {
    min-width: 100px;
    max-width: 150px;
    width: calc(100% - 200px);
    display: block;
}