.PollProgress {
    width: 100%;
    background-color: grey;
    border-radius: 25px;
}

.PollProgressBar {
    width: 0%;
    height: 12px;
    border-radius: 25px;
    background-color: green;
    transition: width 0.4s linear;
    /* note this line */
}

.RedColor {
    background-color: red;
}

#PollDuration {
    text-align: center;
}

* {
    color: rgb(239, 239, 241);
    font-family: Roobert, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, input, select, dialog {
    background: rgb(26, 26, 26);
}

dialog {
    position: fixed;
}

a {
    color: rgb(169, 112, 255);
}

th,
td {
    border-right: 1px solid rgb(239, 239, 241);
    border-bottom: 1px solid rgb(239, 239, 241);
    padding: 5px 10px;
}

table.noborder,
table.noborder th,
table.noborder td {
    border: 0px;
    padding: 0px;
}

input[disabled] {
    background: #3e0000;
}

input,
select {
    width: 100%;
}

select {
    transition: 0.3s;
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
}

input[type="submit"]:hover,
button:hover {
    background: rgb(24, 163, 70)
}

input[type="button"],
input[type="submit"],
button {
    background: #33c34e;
    cursor: pointer;
    width: 100%;
    height: 32px;
    border-radius: 12px;
    border-width: 0px;
    transition: 0.3s;
    font-size: 18;
}

.SubmitPoll {
    background: #c60000;
}

.SubmitPoll:hover {
    background: #b40000;
}

.SubmitPoll:disabled,
button:disabled {
    background: grey;
    cursor: not-allowed;
}

.PollQuestion {
    font-size: 18px;
    text-decoration: underline;
    font-style: inherit;
    font-weight: bold;
}

.PollQuestionInfo {
    font-size: 18px;
    font-style: inherit;
}

#status {
    display: none;
    background: red;
    padding: 5px;
}

#status.show {
    display: block;
}

.disableit {
    position: relative;
}

.disableit:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.YU1 {
    transition: 0.3s;
    border-radius: 6px;
    border-width: 2px;
    border-color: white;
    width: 100%;
    height: 25px;
}


.YU2 {
    width: 49.5%;
    height: 25px;
    border-radius: 6px;
    font-size: 16px;
}

.YU3 {
    background-color: rgb(0, 55, 255);
}
.YU3:hover {
    background-color: rgb(14, 56, 206);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.profile {
    width: 32px;
    border-radius: 9000px;
    pointer-events: none;
}

.text {
    position: relative;
    font-size: 16px;
    bottom: 8px;
}

.CTitle {
    position: relative;
    font-size: 24px;
    bottom: 16px;
}

.CImg {
    width: 56px;
    pointer-events: none;
}

.CMsg {
    font-size: 16px;
    padding: 0 30px;
    color: rgb(201, 201, 201);
}

hr {
    border-width: 1px;
}

#AuthRequired {
    background-color: rgb(112, 0, 132);
    padding: 3px;
    border-radius: 6px;
    border: thick solid;
    position: relative;
}

#AuthRequired
span {
    position: absolute;
    left: 110px;
    font-size: 24px;
}
#AuthRequired
button {
    position: absolute;
    left: 110px;
    top: 65px;
    width: 92%;
    background-color: rgb(207, 42, 188);
}
#AuthRequired
button:hover {
    background-color: rgb(199, 34, 179);
}

#AuthRequired.Oops {
    background-color: rgb(151, 18, 18);
}
#AuthRequired.Oops
button {
    background-color: rgb(242, 43, 43);
}
#AuthRequired.Oops
button:hover  {
    background-color: rgb(197, 22, 22);
}